
/* ......slide Principale....... */

.slider {
  object-fit: cover;
  width: 100%;
  height: 600px;
} 

@media (max-width: 991.98px) {
  .slider {
  object-fit: cover;
  width: 100%;
  height: 200px;
      }   
  }
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 320px) {
  .slideTest {
    font-size: 40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 991.98px) {
  .slideTest {
    font-size: 13px;
  }
}


/* ......Custom Css....... */

/* ******************************** Slide Article ******************************************/
.actu {
  object-fit: cover;
  width: 100%;
  height: 400px;
} 
 /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
 @media screen and (min-width: 601px) {
  div.slideTes {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.slideTes {
    font-size: 10px;
  }
}


/********************************* Slide Article ***************************************** */
/* ................Mot President................. */

.padding-mot {
  padding-top:60px;
}

@media (max-width: 991.98px) {
  .padding-mot {
    padding-bottom: 280px;
    }
  }
/* ................Mot President................. */

/* ................Map Contact................. */

.mapy {
  width:700px;
  height:600px;
}
@media (max-width: 991.98px) {
  .mapy {
  width: 350px;
  height: 600px;
  }
}